<!DOCTYPE html>
<html>
    <head>
        <link href="app.css" rel="stylesheet">
    </head>
    <body ng-app="PubSubAngApp">
       <h1 >Chatting....</h1>

       <div id="Receiver" ng-controller="ReceivingCtrl" class="controller" >
        user: <span class="received">{{model.message}}</span>
    </div>
    <div ng-controller="PublishingCtrl" class="controller-1" >
        <textarea type="text" ng-model="model.message" style="height: 100px;width: 400px;padding: 10px;font-size: 17px;"></textarea>
        <button ng-click="clickMe(model.message)" style="display: flex;align-content: flex-end;">Send!!!!!</button>
    </div>
       
       <script>
          AUTOBAHN_DEBUG = true;
       </script>
       <script src="autobahn.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
       <script src="app.js"></script>
    </body>
</html>
